@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.content {
  color: white;
  padding-top: 4.2rem;
  background-color: #0a192a;
  overflow: hidden;
  min-height: 100vh;
}
