@import "../../styles/mixin";
@import "../../styles/Variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
.main{
    background-color: #0A192A;
    min-width: 100%;
    min-height: 91.4vh;
    color: white;
}

.mainSpinner{
    @include flexDesign(row,center,center);
    background-color: #0a192ae8;
    min-width: 100%;
    min-height: 91.4vh;
    color: white;

}

.contentArea{
    @include flexDesign(row,start,start);
    font-family: 'Open Sans', sans-serif;
  
   min-height: 91.4vh;
}
.teamArea{
    min-height: 91vh;
    padding : 1.5rem 4rem 0rem 2rem;
    border-right : 3px Solid rgba(90, 89, 89, 0.432);
    h1{
        font-size: 2.5rem;
        letter-spacing: 2px;
        margin-bottom:5px;
        color: $Color-accent;
    }

    .teamLeadArea{
        @include flexDesign(row,start,space-between);
        width: 100%;
    }
    .size{
        color: $success;
    }
}

.infoArea{
    min-height: 91vh;
    width: 80%;
   

}

.Members{
     
    padding-left: 1rem;
    margin-top: 3rem;
    ul{
        list-style: None;
        margin-bottom: 6rem;
        li{
            margin-bottom:2rem;
        }
    }
    
}
.MembersInner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .avatar{
        height: 5rem;
        width: 5rem;
    }
    h4{
        padding-top: 1rem;
        margin-left: 1rem;
        font-size: 1.3rem;
    }
}

.HostArea{
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 95%;
     
    div{
        border: 1px solid $success;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1rem 2rem 1rem 1rem;
         
    }
    h1{
        color: $Color-accent;
        font-family: "Rajdhani", sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & :first-child{
            margin-right: 10px;
        }

        
    }
    h4{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
}

.FormaArea{
    h1{
      padding-left: 2.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
}

form{
    padding-left: 2.5rem;
    .AddBtn{
        margin-top: 3rem;
    }
}